* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #23242a;
}

.form {
    position: relative;
    width: 380px;
    height: 420px;
    padding: 50px;
    background: #1c1c1c;
    border-radius: 8px;
}

.form::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #45f3ff, #0c697b, #45f3ff);
    background-size: 200%;
    animation: borderLight 15s linear infinite;
    border-radius: 8px;
    z-index: 1;
}

.form::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    background: #1c1c1c;
    border-radius: 8px;
    z-index: 2;
}

@keyframes borderLight {
    0% { background-position: 0 0; }
    50% { background-position: 200% 0; }
    100% { background-position: 0 0; }
}

.form .inputBox {
    position: relative;
    width: 100%;
    margin-top: 35px;
    z-index: 3;
}

.form .inputBox input {
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 1em;
    letter-spacing: 0.05em;
}

.form .inputBox span {
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    font-size: 1em;
    color: #8f8f8f;
    pointer-events: none;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

.form .inputBox input:valid ~ span,
.form .inputBox input:focus ~ span {
    color: #45f3ff;
    transform: translateX(0px) translateY(-34px);
    font-size: 0.75em;
}

.form .inputBox i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #45f3ff;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
}

.form .inputBox input:valid ~ i,
.form .inputBox input:focus ~ i {
    height: 44px;
    background: rgba(69, 243, 255, 0.1);
}

.form .links {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    z-index: 3;
    position: relative;
}

.form .links a {
    margin: 10px 0;
    font-size: 0.75em;
    color: #8f8f8f;
    text-decoration: none;
    transition: 0.3s;
}

.form .links a:hover,
.form .links a:nth-child(2) {
    color: #45f3ff;
}

.form input[type="submit"] {
    position: relative;
    border: none;
    outline: none;
    background: #45f3ff;
    padding: 11px 25px;
    width: 100px;
    margin-top: 10px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    z-index: 3;
}

.form input[type="submit"]:active {
    opacity: 0.8;
}
